<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Create Employee</h3>
            <hr/>
            <div class="card-body">
                <form #f="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>First name</label>
                        <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName">
                    </div>
                    <div class="form-group">
                        <label>Lat name</label>
                        <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName">
                    </div>
                    <div class="form-group">
                        <label>Email Id</label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="employee.email" name="email">
                    </div>
                    <br/>
                    <button class="btn btn-success" type="submit">submit</button>
                </form>
            </div>
        </div>
    </div>
</div>