@import url("http://fonts.googleapis.com/css?family=Titillium+Web");
* {
font-family: "Titillium Web",sans-serif;
}
.navbar .navbar-brand {
font-size: 30px;
}
.navbar .nav-item{
    padding: 10px 20px;
}
.navbar .nav-link {
    font-size: 20px;
    margin-left:10px;
}
.fa-bars {
    color: #007bff;
    font-size: 30px;
}