.workbench{
    height: 90px;
    border: 1px solid;
    background: #3e5d71;
    border-radius: 5px;
}
.workbench p{
    color: #fff;
    position: relative;
    left: 80px;
    font-size: 20px;
    top: 35px;
}
.alert{
    height: 90px;
    border: 1px solid;
    background: #16242d;
    border-radius: 5px;
}
  .alert p{
    color: #fff;
    position: relative;
    left: 80px;
    font-size: 20px;
    top: 20px;
}
table {
    width: 100%;
  }
.parts .mat-form-field {
    width: 100%!important;
}
::ng-deep .mat-form-field-infix {
    font-size: 11px;
  }
.search{
    margin-bottom: 55px;
}
.alertDiv p{
    color: #17d2f7;
    line-height: 25px;
    margin: 20px;
}
.alert {
margin-bottom:0!important;
}